In [1]:
from sklearn import *
from tkinter import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

# LOGISTIC REGRESSION

# Logistic Regression is a statistical method for analyzing a data set in which there are one or more independent variables that determine an outcome, the outcome is measured with binary variable

#>-dependent variable is binary
#>-1(true,success),0(false,failure)
#>-goal is to find the best fitting model for independent  and dependent  variable relationship
#>-independent variable can be continuous or binary
#>-also called logistic regression
#>-used in machine learning
#>-deals with probability to measure the relation between dependent and independent variable

In [2]:
df=pd.read_csv('hire_data1.csv')

In [ ]:
#logistic regression works on logic i.e in the form of probabilities (0 and 1)where 0 stands for no and 1 stands for yes
#example- during weather forecast the probability of rain goes from 0 to 1

In [3]:
features=df.columns[:5]

In [4]:
features#independent variables

Index(['Percentage', 'Backlog', 'Internship', 'First_Round',
       'Communication_Skills'],
      dtype='object')

In [5]:
x=df[features]
x

     Percentage  Backlog  Internship  First_Round  Communication_Skills
0         81.00        0           1        75.00                 80.00
1         70.00        0           3        87.00                 70.00
2         81.00        2           3        75.00                 67.00
3         56.00        3           3        42.00                 76.00
4         74.00        4           3        82.00                 75.00
5         69.00        0           2        74.00                 71.00
6         46.00        3           1        67.00                 86.00
7         70.00        0           1        78.00                 75.00
8         85.00        1           1        65.00                 72.00
9         70.00        1           1        80.00                 85.00
10        90.00        0           1        88.00                 89.00
11        70.00        0           1        84.00                 75.00
12        69.00        0           1        66.00                 71.00
13        70.00        2           0        85.00                 73.00
14        70.00        0           1        67.00                 73.00
15        67.00        1           1        64.00                 75.00
16        80.00        0           1        68.00                 77.00
17        67.00        0           1        66.00                 78.00
18        89.00        0           1        78.00                 80.00
19        90.00        0           1        90.00                 89.00
20        87.00        0           1        88.00                 85.00
21        68.00        0           1        80.00                 97.00
22        69.00        0           1        78.00                 80.00
23        80.00        0           1        84.00                 80.00
24        80.00        1           1        76.00                 80.00
25        80.00        1           1        88.00                 84.00
26        87.00        0           1        85.00                 85.00
27        75.00        0           2        80.00                 90.00
28        90.00        0           3        70.00                 75.00
29        88.00        0           3        85.00                 92.00
..          ...      ...         ...          ...                   ...
347       71.00        4           4        81.00                 71.00
348       64.00        1          69         0.00                 64.00
349       60.00        3          65         0.00                 61.00
350       60.00        6           0        60.00                 60.00
351       61.00        6           0        60.00                 60.00
352       62.00        5           0        62.00                 63.00
353       63.00        4           0        63.00                 65.00
354       64.00        3           0        65.00                 69.00
355       64.00        5           2        79.00                 69.00
356       63.00        6           2        78.00                 68.00
357       62.00        7           1        77.00                 67.00
358       61.00        8           1        76.00                 66.00
359       60.00        9           2        75.00                 65.00
360       59.00        8           2        75.00                 65.00
361       62.55        1           2        72.00                 79.00
362       72.87        0           3        80.30                 85.50
363       75.90        0           4        80.00                 85.00
364       59.00        4           2        71.00                 69.00
365       82.50        3           4        87.00                 83.00
366       59.37        3           1        65.00                 71.00
367       71.60        0           4        75.00                 85.00
368       65.58        2           4        71.00                 89.00
369       67.78        5           0        60.00                 71.00
370       59.98        5           5        87.00                 91.00
371       63.45        5           0        67.00                 70.00
372       68.87        2           0        66.67                 69.69
373       80.48        0           3        79.00                 88.89
374       65.00        2           1        60.00                 70.00
375      100.00        5           3        88.00                 88.00
376      100.00        8           1        88.00                 88.00

[377 rows x 5 columns]

In [6]:
y=df[['Hired']]#dependent variable
y

     Hired
0        1
1        1
2        0
3        0
4        1
5        1
6        0
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
..     ...
347      1
348      1
349      1
350      0
351      0
352      0
353      0
354      0
355      0
356      0
357      0
358      0
359      0
360      0
361      1
362      1
363      1
364      0
365      1
366      0
367      1
368      1
369      0
370      1
371      0
372      0
373      1
374      1
375      1
376      0

[377 rows x 1 columns]

In [8]:
y=np.ravel(y)
y

array([1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0], dtype=int64)

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [10]:
lr=LogisticRegression()

In [12]:
lr.fit(x_train,y_train)

c:\users\dell\appdata\local\programs\python\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
y_pred=lr.predict(x_test)
y_pred

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1], dtype=int64)

In [14]:
print(metrics.accuracy_score(y_test,y_pred)*100)
#print(metrics.accuracy_score(y_test,y_pred.round())*100) - this statement also works in logistic regression

83.33333333333334

In [16]:
lr.predict(np.array([80,0,1,60,60],dtype='float').reshape(1,-1))#prediction for multi x value
#here we entered the values of the independent x variables and predict whether the person is hired or not
#float is used because the x values that we enter might be float values
#1 is used because to have the output in form of a one dimensional array
#-1 is used so the values of x start from column 0

array([1], dtype=int64)